.proof {
    background-color: #0b0b0d;
    color: #f1eaee;
    text-rendering: optimizeLegibility;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.col-1,
.col-3,
.col-5,
.col-7,
.col-9,
.col-11 {
    background-color: firebrick;
}

.col-1:nth-child(odd),
.col-3:nth-child(odd),
.col-5:nth-child(odd),
.col-7:nth-child(odd),
.col-9:nth-child(odd),
.col-11:nth-child(odd) {
    background-color: dodgerblue;
}

.col-2,
.col-4,
.col-6,
.col-8,
.col-10,
.col-12 {
    background-color: green;
}

.col-2:nth-child(odd),
.col-4:nth-child(odd),
.col-6:nth-child(odd),
.col-8:nth-child(odd),
.col-10:nth-child(odd),
.col-12:nth-child(odd) {
    background-color: purple;
}